<!-- search bar -->
<div class="side-wrap search-wrap wrap">
    <div class="container">
        <div class="row">
            <div class="search col-11">
                <input class="col-8 col-md-8" type="text">
                <div class="col-2">
                    <i class="fa fa-search col-md-2" aria-hidden="true"></i>
                </div>
                <div class="col-2">
                    <i class="fa fa-filter" aria-hidden="true" id="fll-btn"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- filter -->
<div class="side-wrap wrap">
    <div class="container">
        <div class="row">
            <div class="filter-box">
                <div id="fltr" class="filter">
                    <h2>商品篩選</h2>
                    <span class="filter-leave" id="fltrClz"></span>
                    <div class="filter-theme col-10">
                        <div class="col-11">
                            <h3>車款</h3>
                            <ul>
                                <li class="prodTitle">公路車</li>
                                <li class="prodTitle">登山車</li>
                                <li class="prodTitle">城市車</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-theme col-10">
                        <div class="col-11">
                            <h3>價格</h3>
                            <input type="text" maxlength="6">
                        </div>
                    </div>
                    <div class="filter-theme col-10">
                        <div class="col-11">
                            <h3>種類</h3>
                            <ul>
                                <li class="prodTitle">成車</li>
                                <li class="prodTitle">保養品</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-theme col-10">
                        <div class="col-11">
                            <h3>顏色</h3>
                            <ul>
                                <li class="square"></li>
                                <li class="square"></li>
                                <li class="square"></li>
                                <li class="square"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-confirm">
                        <input class="filter-reset" type="button" value="重設"></input>
                        <input class="filter-submit" type="button" value="確認"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>