<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>
    <script src="./js/OBJLoader.js"></script>
    <script src="./js/OrbitControls.js"></script>
    <script src="./js/MTLLoader.js"></script>
    <script src="./js/script.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div id="three" class="col-12"></div>
            </div>
        </div>
    </div>
</body>
</html>