// 顏色
$main:#d16237;
$sub:#647d94;


$mainMedium:#3c566d;
$mainDark:#1e3449;
$colorTitle: #1e3449;
$colorStatus1: #919cb0;
$colorStatus2: #3c566d;
$colorStatus3: #647c94;
$colorStatusBuy: #d26338;
$colorStatusText: #efe8cb;

$blue-deep:#627A8F;
$blue-light:#8D99AC;

//rwd 斷點
$large : 1024px;
$medium : 950px;
$small : 768px;

//字體
$ff: "微軟正黑體";

//font-size
$h1: 30px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 12px;
$p: 14px;